// Define variables for your color scheme

// For example:
$red: #98251f;
$blue: #86bbd8;
$yellow: #efcb68;
$orange: #e67e22;
$green: #3b684b;
$dark-green: #17251a;
$brown: #965123;
$gray: #0e0000;
$light-gray: #fefcf2;
