.booking-container {
  max-width: 1000px;
  padding-bottom: 40px;
}

.booking-field-img {
  background-position: center;
  background-size: cover;
  width: 24rem;
  min-height: 240px;
  border-radius: 4px;

  @media (max-width: 770px) {
    width: 100%;
    max-height: 80px;
  }
}

.booking-content {
  gap: 1rem;
  display: flex;

  p {
    font-size: 1rem;
  }

  @media (max-width: 770px) {
    flex-direction: column;
  }
}

.btn-group-booking-landowner {
  display: flex;
  gap: 8px;

  @media (max-width: 400px) {
    flex-direction: column;
    gap: 0;
  }
}

.booking-btn {
  margin-bottom: 8px;

  @media (max-width: 400px) {
    min-width: 100%;
  }
}

.booking-title-status-container {
  display: flex;
  align-items: center;

  .badge {
    margin-left: 16px;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    .card-title {
      order: 2;
    }
    .badge {
      order: 1;
      margin-left: 0;
    }
  }
}
