.container-field {
  max-width: 1000px;
}

.field-description {
  max-width: 800px;
}

.field-info p {
  font-size: 1rem;
  margin-bottom: 4px;
}

.btn-group-field {
  display: flex;
  justify-content: end;
  gap: 8px;
}

@media (max-width: 767px) {
  .btn-field {
    flex-grow: 1;
  }
  .btn-group-field {
    margin-bottom: 32px;
    order: 1;
  }
  .field-name {
    order: 2;
  }
}

@media (max-width: 420px) {
  .btn-group-field {
    flex-direction: column;
  }
}
