.container-home {
  max-width: 1000px;
}

.home-top-section {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;

    .home-top-section-text {
      order: 2;
    }

    .home-img {
      order: 1;
      margin-bottom: 32px;
      width: 100%;
      margin-left: 0;
    }
  }
}

.home-img {
  margin-left: 2rem;
  min-width: 30vw;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}

.home-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cards-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .card-field {
    min-height: 200px;
    margin-bottom: 8px;

    .card-title {
      font-size: 1.2rem;
    }

    .card-body p {
      font-size: 0.6rem;
    }

    .card-body {
      padding: 8px;
    }

    .card-footer {
      opacity: 0;
    }
  }
}

.card-home {
  border-radius: 50%;
}
