.container-home {
  max-width: 1000px;
}

.home-top-section {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;

    .home-top-section-text {
      order: 2;
    }

    .home-img {
      order: 1;
      margin-bottom: 32px;
      width: 100%;
      margin-left: 0;
    }
  }
}

.home-img {
  margin-left: 2rem;
  min-width: 30vw;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}

.home-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cards-home {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }

  .card-field-in-home {
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;

    @media (max-width: 1100px) {
      aspect-ratio: 2 / 1;
    }

    @media (max-width: 550px) {
      aspect-ratio: 2 / 1;
    }

    .card-title {
      font-size: 1.2rem;
    }

    .card-body-field p {
      font-size: 0.8rem;
    }

    .card-body-field {
      padding: 8px;
    }

    .card-footer-field {
      opacity: 0;
    }
  }
}

.cards-field-in-home {
  border-radius: 50%;
}
