.container-home {
  max-width: 1000px;
}

.item-left {
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-container-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.home-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.top-section-image {
  clip-path: circle(50%);
  padding: 64px;
  padding-right: 90px;
}

.container-1 {
  display: flex;
}

.header-section-2 {
  margin-bottom: 16px;
}

.seemore {
  margin-top: 15px;
}

.seemore_link {
  margin-bottom: 0px !important;
}

.cards-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .card-field {
    min-height: 200px;
    margin-bottom: 8px;

    .card-title {
      font-size: 1.2rem;
    }

    .card-body p {
      font-size: 0.6rem;
    }

    .card-footer {
      opacity: 0;
    }
  }
}

.item-2 {
  border-radius: 50%;
}

.card-home {
  border-radius: 50%;
}

.h2-home {
  text-align: left;
  margin-top: 24px;
}

.p-footer-home {
  word-break: break-all;
}

.footer-image {
  object-fit: cover;
  width: 830px;
  height: 155px;
}
