<div class="container my-5 booking-container">
  <h1>Welcome back, <%= current_user.name %>!</h1>
  <h3>You have <%= pluralize(@bookings.count, 'booking') %>. </h3>
  <div class="cards-booking mt-4">
    <% @bookings.each_with_index do |booking, i| %>
      <%= render 'bookings/card', booking: booking, i: i %>
      <%= render 'bookings/edit_modal', field: booking.field, booking: booking, i: i %>
    <% end %>
  </div>
</div>
