<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4">
                    <h4>About us</h4>
                    <p>MinaNoka rental lifestyle in the countryside. The field farmer rental lifestyle is a great way to live out your dreams of living in nature.</p>
                </div>
                <div class="col-md-4">
                    <h4>Information</h4>
                    <ul class="address1">
                        <li><i class="fa fa-map-marker"></i>Cow st. 3202, Tokyo, Japan</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:#">contact@minanoka.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Follow us</h4>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <p class="copyright">MinaNoka.com © <%= Time.now.year %>
                    </p>
                </div>
                <div class="col-sm-7">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
