<div class="container my-5">
  <h1>This is a heading 1</h1>
  <h2>This is a heading 2</h2>
  <h3>This is a heading 3</h3>
  <hr>
  <p>This is a p. </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla repellendus quia consequuntur recusandae tempore sit porro eaque voluptatem a nemo doloribus nobis soluta sequi nostrum magni pariatur debitis, culpa minus natus! Aut ipsa dolorum atque pariatur perspiciatis fuga quasi vero. Vero quod, magni aspernatur earum animi enim dolorum consequuntur!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eius repellendus reiciendis harum quaerat illum temporibus suscipit, nulla rerum pariatur, a, obcaecati corrupti qui! Consectetur dolore nesciunt maiores voluptatem cupiditate dolorum optio eius eligendi reprehenderit. Quos, ea qui consequuntur necessitatibus vero ratione possimus maxime quo quibusdam natus. Pariatur sit facere soluta, voluptas amet assumenda impedit cum ab numquam veniam nobis commodi repellat et nulla quisquam tempora nostrum culpa voluptate quam tenetur. Debitis esse minima veritatis rerum odio qui iure ab ex, quo eos distinctio officia neque alias aliquam dolor at eum! Nulla, at rerum. Commodi quia laboriosam cupiditate obcaecati reiciendis.</p>
  <hr>
  <h3>Buttons</h3>
  <%= link_to "Primary CTA", pages_design_path ,class: "btn btn-primary" %>
  <%= link_to "Outline CTA", pages_design_path ,class: "btn btn-outline-primary" %>
  <%= link_to "Secondary CTA", pages_design_path ,class: "btn btn-secondary" %>
  <%= link_to "Sec-Outline CTA", pages_design_path ,class: "btn btn-outline-secondary" %>
</div>
