.mapboxgl-ctrl-top-right {
  min-width: 60%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  // scale: 1.2;
}

.mapboxgl-popup-tip {
  // display: none;
  opacity: 0;
  margin: 0.4rem;
}

.mapboxgl-popup-content {
  position: relative;
  bottom: 1.4rem;
  display: flex;
  padding: 0;
  min-width: 16rem;
  min-height: 16rem;
}

.container-popup {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 16rem;

  .popup-card-img-top {
    height: 10rem;
  }
}

.marker {
  background-color: $green;
  border: solid 1px $light-gray;
  border-radius: 100px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 200ms;
  p {
    color: white;
    margin: 0;
    padding: 0 1em;
  }

  &:hover {
    transform: scale(1.1);
    background-color: $light-gray;
    p {
      color: $green;
    }
  }
}

.mapboxgl-popup-close-button {
  display: none;
  // scale: 2;
}
