.navbar-minanoka {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
}

.navbar-minanoka .navbar-collapse {
  flex-grow: 0;
}

.navbar-minanoka .navbar-brand img {
  width: 40px;
}
