.navbar-minanoka {
  justify-content: space-between;
  background: $green;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-minanoka .navbar-collapse {
  flex-grow: 0;
}

.navbar-minanoka .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  color: $green;
  font-size: 1.6rem;
}
