<div class="row g-3">
  <% animals = ["cow", "horse", "frog", "dog", "crow", "dragon", "hippo", "ghost", "worm", "spider", "cat", "fish", "cat", "otter", "bug"].sample(rand(1..6)) %>
  <% animals.each do |animal| %>
    <div class="col-6 col-md-6 col-lg-4 d-flex align-items-center">
      <div class="crop-icon">
        <i class="fa-solid fa-<%= animal %>"></i>
      </div>
      <%= animal.pluralize.capitalize %>
    </div>
  <% end %>
</div>
