<div class="container-cards-and-map">
  <div class="cards-field-container">
    <div class="filter shadow-sm mb-4">
      <%= render "search" %>
    </div>
    <div class="px-3">
      <h3>There are <%= pluralize(@fields.count, 'field') %></h3>
      <div class="cards-field">
        <% @fields.each do |field| %>
          <%= render 'fields/card', field: field %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map"
       data-controller="map"
       data-map-markers-value="<%#= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
